<FlexboxLayout  class="page">
	<StackLayout *ngIf="isLoggingIn" [formGroup]="loginForm" class="form" >
		
		<Label class="header" text="3rd Little Duck"></Label>

		<StackLayout class="input-field">
			<TextField class="input" hint="Email" keyboardType="email" autocorrect="false" autocapitalizationType="none" formControlName="email" returnKeyType="next" (returnPress)="focusPassword()"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout class="input-field">
			<TextField #password class="input" hint="Password" secure="true" formControlName="password" returnKeyType="done" (returnPress)="focusConfirmPassword()"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<Button text="Log In" (tap)="submitLogin()" class="btn btn-primary m-t-20"></Button>
		<Label text="Forgot your password?" class="login-label" (tap)="forgotPassword()"></Label>
	</StackLayout>

	<StackLayout *ngIf="!isLoggingIn" [formGroup]="registerForm" class="form" >
		
		<Label class="header" text="3rd Little Duck"></Label>

		<StackLayout class="input-field">
			<TextField class="input" hint="Name" formControlName="name" returnKeyType="done" returnKeyType="next"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout class="input-field">
			<TextField class="input" hint="Email" keyboardType="email" autocorrect="false" autocapitalizationType="none" formControlName="email" returnKeyType="next" (returnPress)="focusPassword()"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout class="input-field">
			<TextField #password class="input" hint="Password" secure="true" formControlName="password" [returnKeyType]="next" (returnPress)="focusConfirmPassword()"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout class="input-field">
			<TextField #confirmPassword class="input" hint="Confirm password" secure="true" formControlName="password_confirmation" returnKeyType="done"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<Button text="Sign Up" (tap)="submitRegister()" class="btn btn-primary m-t-20"></Button>
	</StackLayout>

	<Label class="login-label sign-up-label" (tap)="toggleForm()">
		<FormattedString>
			<Span [text]="isLoggingIn ? 'Don’t have an account? ' : 'Back to Login'"></Span>
			<Span [text]="isLoggingIn ? 'Sign up' : ''" class="bold"></Span>
		</FormattedString>
	</Label>
</FlexboxLayout>